div.Badge{
    width: 80%;
    height: 80%;
    left: 10%;
    top: 50%;
    top: 100px;
    z-index: 1;
    position: absolute;
    background-color: #FFFF;
    font-weight: bold;
    border: 1px solid #A1A1A1;

    button {
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 759px) {
    div.Badge{
        top: 10px;
        left: 75px;
    }
}