@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

div.container{
    background-color: #F4F4F4;
    overflow: auto;
    height: 100vh;
    padding-top: 0px;
    position: relative;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    padding-bottom: 400px;
    @include scrollbars(10px, #8FC2E9, #F4F4F4);
}

div.picBorder{
    float: left;
    background-color: #E6E6E6;
    top: 50%;
    left: 50px;
    width: 100px;
    height: 100px;

    img {
        margin-left: 10px;
        margin-top: 250px;

    }
}

@media screen and (max-width: 759px) {
    div.container{
        width: 100%;
    }
}